[mysqld]
binlog_cache_size = 32768
binlog_format = MIXED
# character_set_client = utf8mb4
# character_set_connection = utf8mb4
# character_set_database = utf8mb4
character_set_server = utf8mb4
collation_server = utf8mb4_unicode_ci
deadlock_search_depth_long = 15
deadlock_search_depth_short = 4
deadlock_timeout_long = 50000000
deadlock_timeout_short = 10000
default_password_lifetime = 0
default_storage_engine = InnoDB
extra_max_connections = 1
general_log = 0
innodb_buffer_pool_size = 12079595520
innodb_change_buffering = none
innodb_deadlock_detect = 1
innodb_file_per_table = 1
innodb_flush_method = O_DIRECT
innodb_io_capacity = 1000
innodb_lock_wait_timeout = 300
innodb_log_buffer_size = 8388608
innodb_log_file_size = 2147483648
innodb_print_all_deadlocks = 1
innodb_read_io_threads = 8
innodb_write_io_threads = 8
interactive_timeout = 28800
key_buffer_size = 16777216
log_bin = /var/lib/mysql/mariadb-bin
lock_wait_timeout = 86400
log_output = FILE
log_slave_updates = 1
long_query_time = 2
max_binlog_size = 134217728
max_connect_errors = 10000
max_connections = 645
max_heap_table_size = 1073741824
max_statement_time = 600
# performance_schema = 0
# query_cache_size = 67108864
# query_cache_type = 2
read_buffer_size = 262144
read_rnd_buffer_size = 524288
relay_log_recovery = 1
# rocksdb_keep_log_file_num = 10
# rocksdb_log_file_time_to_roll = 60
# rocksdb_max_log_file_size = 104857600
skip_name_resolve = 1
skip_slave_start = 1
skip_character_set_client_handshake
slow_query_log = 1
slow_query_log_file = /var/lib/mysql/mariadb-slow.log
sync_binlog  = 1
thread_cache_size = 512
table_open_cache = 2000
thread_stack = 262144
tmp_table_size = 536870912
wait_timeout = 28800